#load-screen {
background: url(../images/white.png);
position: fixed;
z-index: 10000;
top:0px;
width: 100%;
height: 1600px;

}


#loading {

width: 500px;
height: 500px;
margin: 10% auto;
background: url(../images/spinner.gif);
background-size: 40%;
background-repeat: no-repeat;
background-position: center;

}

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
       
        
.prog {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.prog h2 {
  text-align: center;
}

.prog-filler-track {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.prog-fills {
  height: 8px;
  background: #4caf50;
  width: 0%;
}
        
/* width */
::-webkit-scrollbar {
    width: 0.5vw;
    
   
}

/* Track */
::-webkit-scrollbar-track {
 background-color:rgba(240, 240, 240, 0.5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

*, *:after, *:before {
    box-sizing: border-box;
}

nav {
    width: 100%;
    border-top: 4px solid red;
    border-bottom: 4px solid gray;
}

li {
    display: inline-block;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: .5em;
    border-bottom: 4px solid gray;
    margin-bottom: -4px;
   
}

a:hover {
    border-bottom: 4px solid red;
    transition: 0.3s;
    
}